.auth-page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto 0;
    height: 100%;
    width: 100%;
}
.login-button {
    cursor: pointer;
    padding: 8px
}